.add-search-forms {
  background-color: #A9AAD2;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: .825rem;
}

.form input, .form label {
  color: #1F1F3D;
  max-width: 40%;
  min-width: 40%;
  font-family: open sans, light;
}

.form label {
  font-weight: bold;
  font-size: 1rem;
}

.save-idea-button {
  background-color: #1F1F3D;
  color: #E9E9F3;
  font-family: open sans, light;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}


/* **********Search Bar********** */

.search {
  width: 40vw;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #1F1F3D;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #EAEAF4;
}

.searchTerm:focus{
  color: #1F1F3D;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid ##1F1F3D;
  background: ##1F1F3D;
  text-align: center;
  color: #1F1F3D;
  font-size: 20px;
}
